# Data and Cache
.mypy_cache/

# Saved games
Saved_Game_*

# Test files
test_*

# Reports / Timing data - Keep empty folders, ignore contents
ActionTimingReports/*
StrategyTimingReports/*

# Python
__pycache__/
