# Data and Cache
.mypy_cache/

# Saved games - ignore all files starting with "Saved_Game_"
Saved_Game_*

# Test files - ignore all files starting with "test_"
test_*

# Python cache
__pycache__/
